{% extends 'base.html' %}

{% block title %}Jobs{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-4">Boronilov Jobs</h1>
        <img class="img-fluid" src="../static/img/scott-graham-5fNmWej4tAA-unsplash.jpg" id="banner" alt="career" height="320">
        <h2 class="text-center my-4">About</h2>
        <p class="lead">Looking for a job but don't know where to start? Check out our job search website that offers a wide range of job listings in various industries and locations. You can search by job title, location, company, salary, and more. Create a profile to receive personalized job alerts and save your favorite job postings. Our website also provides career advice, interview tips, and resume building tools to help you land your dream job. Start your job search today and take the first step towards a fulfilling career.</p>
        <h2 class="text-center my-4">Open positions</h2>
        <p>TODO - jobs are here<p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg mb-4">Contact us</button>
            <p>Copyright</p>
        </div>
    </div>
{% endblock content %}