{% extends 'base.html' %}

{% block title %}Jobs{% endblock title %}

{% block content %}
    <h1>Hello Flask</h1>
    <img src="../static/img/scott-graham-5fNmWej4tAA-unsplash.jpg" alt="career" height="320">
    <h2>About</h2>
    <p>Looking for a job but don't know where to start? Check out our job search website that offers a wide range of job listings in various industries and locations. You can search by job title, location, company, salary, and more. Create a profile to receive personalized job alerts and save your favorite job postings. Our website also provides career advice, interview tips, and resume building tools to help you land your dream job. Start your job search today and take the first step towards a fulfilling career.</p>
    <h2>Open positions</h2>
    <p>TODO - jobs are here<p>
    <button>Contact us</button>
{% endblock content %}